<h1>New Patient access</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.patient_access_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.patient_access_path(@conn, :index) %></span>
